.container {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: stretch;
    border: solid;
}

.left-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
    border: solid;
}

.right-column {
    flex-grow: 1;
    flex-basis: 500px;
}

.top-buttons,
.middle-buttons,
.bottom-buttons {
    display: flex;
    flex-direction: column;
}


.slider {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
}